# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables & Keys
.env
*.env

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary / Scratch files
temp/
tmp/
*.tmp
*.log
